body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ok {
  color: green;
}

.okField {
  border: 3px solid green;
}

.er {
  color: red;
}

.erField {
  border: 3px solid red;
}

.date {
  display: flex;
  justify-content: center;
}

.modal {
  display: block;
}

input, textarea {
  margin-top: 2%;
}

.removecomment button:hover {
  cursor: pointer;
}



